body, html {
  font-family: Helvetica,sans-serif;
  background-color: #deedde;
  margin: 0px;
  padding: 0px;
}

.firsthead {
  font-size: 30vmin;
  font-weight: bold;
  letter-spacing: -2vmin;
  color: rgb(0, 102, 153, 0.75);
  text-shadow: rgb(249, 92 , 0, 0.8) -23px 0px 0px;
  padding-left:4vmin;
  margin-top: -30vmin;
}

.firstsection {
  font-weight: bold;
  font-size: 1.75vmin;
  line-height: 35%;
  padding-left: 4vmin;
  margin-top: -20vmin;
}

.secondhead {
  font-size: 30vmin;
  font-weight: bold;
  color: rgb(0, 102, 153, 0.75);
  text-shadow: rgb(249, 92 , 0, 0.8) -23px 0px 0px;
  text-align: right;
  padding-right: 135vmin;
  margin-top: -50vmin;
}

.thirdhead {
  font-size: 30vmin;
  font-weight: bold;
  color: rgb(0, 102, 153, 0.75);
  text-shadow: rgb(249, 92 , 0, 0.8) -23px 0px 0px;
  margin-top: -42vmin;
  padding-left:4vmin;
}

.secondsection {
  font-weight: bold;
  font-size: 1.75vmin;
  line-height: 35%;
  padding-left: 4vmin;
  margin-top: -22vmin;
}

.thirdsection {
  font-weight: bold;
  font-size: 1.75vmin;
  line-height: 35%;
  padding-left: 4vmin;
  margin-top: 7vmin;
}

.lasthead {
  font-size: 30vmin;
  font-weight: bold;
  color: rgb(0, 102, 153, 0.75);
  text-shadow: rgb(249, 92 , 0, 0.8) -23px 0px 0px;
  text-align: right;
  padding-right: 122vmin;
  margin-top: -60vmin;
}
